<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
    <link rel="stylesheet" href="/app.css">
</head>

<body>
    <div class="flex-container">
        <div class="container">
            <h1>Register</h1>
            <p class="lead">Enter your info to use our service.</p>
            <form method="POST" action='/api/auth/signup'>
                <input type="text" class="form" name="first_name" placeholder="John">
                <input type="text" class="form" name="last_name" placeholder="Smith">
                <input type="text" class="form" name="username" placeholder="johnsmith123">
                <input type="text" class="form" name="email" placeholder="johnsmith123@email.com">
                <input type="text" class="form" name="password" placeholder="password">
                <button>REGISTER</button>
            </form>
        </div>
    </div>
</body>