<h1>LOGIN PAGE</h1>
<p class="lead">Login to our service</p>
<form method="POST" action='/api/auth/signin'>
    <input type="text" class="form" name="username" placeholder="johnsmith123">
    <input type="text" class="form" name="password" placeholder="password">
    <button>LOGIN</button>
</form>